<ion-header>
	<ion-grid no-padding>
		<ion-row>
			<ion-col no-padding>
				<ion-toolbar>
					<ion-buttons slot="start">
						<ion-menu-button></ion-menu-button>
					</ion-buttons>
					<ion-title size="large">Discover Assets</ion-title>
				</ion-toolbar>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col no-padding>
				<ion-segment (ionChange)="onFilterUpdate($event)">
					<ion-segment-button value="Place" checked
						>Places</ion-segment-button
					>
					<ion-segment-button value="Electronic"
						>Electronics</ion-segment-button
					>
					<ion-segment-button value="Automobile"
						>Automobiles</ion-segment-button
					>
				</ion-segment>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>

<ion-content>
	<ion-grid no-padding>
		<ion-row
			no-padding
			*ngFor="let place of allProducts"
			[routerLink]="['/', 'products', 'tabs', 'discover', place.id]"
		>
			<ion-col size="12" size-sm="8" offset-sm="2">
				<ion-card
					[routerLink]="['/', 'products', 'tabs', 'discover', place.id]"
				>
					<ion-card-header>
						<ion-card-title>{{ place.title }}</ion-card-title>
						<ion-card-subtitle
							>{{ place.price | currency: "INR" }}
						</ion-card-subtitle>
					</ion-card-header>
					<ion-img [src]="place.imageUrl"></ion-img>
					<ion-card-content>
						<p>{{ place.description }}</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
