.ion-invalid.ion-touched ion-label {
	color: var(--ion-color-danger);
}
.ion-invalid.item-has-focus ion-label {
	color: var(--ion-color-danger);
}
.ion-touched.ion-valid ion-label {
	color: var(--ion-color-primary);
}
.item-has-focus.ion-valid ion-label,
.ion-valid.item-has-value ion-label {
	color: var(--ion-color-primary);
}

ion-slides {
	height: 100%;
}
ion-grid {
	position: relative;
	height: 100%;
	width: 100%;
}
.label {
	position: absolute;
	top: 3vh;
	left: 2vw;
	text-align: left;

	h1 {
		font-size: 1.7rem;
		font-weight: bold;
		color: var(--ion-color-primary);
	}

	p {
		font-size: 0.8rem;
		opacity: 0.7;
	}
}
.form {
	position: absolute;
	width: 100%;
	top: 11vh;
	right: 0%;

	ion-card {
		border: 1px solid rgba(0, 0, 0, 0.205);
		box-shadow: none;
	}
}
.map {
	margin: 0;
	padding: 0;
	height: 50vh;
	width: 100%;
}
.btns {
	position: absolute;
	bottom: 2vh;
	right: 4vw;
}
