<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/products/tabs/offers"></ion-back-button>
		</ion-buttons>
		<ion-title>New Offer</ion-title>
		<ion-buttons slot="primary"> </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-slides>
		<ion-slide>
			<ion-grid>
				<ion-row class="label">
					<ion-col size-sm="6" offset-sm="3">
						<ion-label>
							<h1>Product Detail</h1>
							<p>Please provide your product's details.</p>
						</ion-label>
					</ion-col>
				</ion-row>
				<ion-row class="form">
					<ion-col size-sm="6" offset-sm="3">
						<ion-card>
							<ion-card-content>
								<form [formGroup]="form">
									<ion-grid no-padding>
										<ion-row>
											<ion-col>
												<ion-item>
													<ion-label>Category</ion-label>
													<ion-select
														slot="end"
														interface="popover"
														formControlName="category"
													>
														<ion-select-option value="Place"
															>Place</ion-select-option
														>
														<ion-select-option value="Electronic"
															>Electronic</ion-select-option
														>
														<ion-select-option value="Automobile"
															>Automobile</ion-select-option
														>
													</ion-select>
												</ion-item>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-item>
													<ion-label position="floating">Title</ion-label>
													<ion-input
														type="text"
														autocomplete
														autocorrect
														formControlName="title"
													></ion-input>
												</ion-item>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-item>
													<ion-label position="floating">
														Short Description
													</ion-label>
													<ion-textarea rows="3" formControlName="description">
													</ion-textarea>
												</ion-item>
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col>
												<ion-item>
													<ion-label position="floating">Price</ion-label>
													<ion-input
														type="number"
														formControlName="price"
													></ion-input>
												</ion-item>
											</ion-col>
										</ion-row>
									</ion-grid>
								</form>
							</ion-card-content>
						</ion-card>
					</ion-col>
				</ion-row>
				<ion-row class="btns">
					<ion-col size-sm="6" offset-sm="3">
						<div text-right>
							<ion-button [disabled]="validateDetailForm()" (click)="nextStep()"
								>next</ion-button
							>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
		<ion-slide>
			<ion-grid>
				<ion-row class="label">
					<ion-col size-sm="6" offset-sm="3">
						<ion-label>
							<h1>Product Detail</h1>
							<p>Please provide your product's address.</p>
						</ion-label>
					</ion-col>
				</ion-row>
				<ion-row class="form">
					<ion-col size-sm="6" offset-sm="3">
						<form [formGroup]="form">
							<ion-grid no-padding>
								<ion-row>
									<ion-col>
										<app-location-picker
											margin
											(locationPick)="onLocationPicked($event)"
										></app-location-picker>
									</ion-col>
								</ion-row>
							</ion-grid>
						</form>
					</ion-col>
				</ion-row>
				<ion-row class="btns">
					<ion-col size-sm="6" offset-sm="3">
						<div text-right>
							<ion-button (click)="prevStep()" color="medium">prev</ion-button>
							<ion-button
								[disabled]="form.get('location').invalid"
								(click)="nextStep()"
								>next</ion-button
							>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
		<ion-slide>
			<ion-grid>
				<ion-row class="label">
					<ion-col size-sm="6" offset-sm="3">
						<ion-label>
							<h1>Product Image</h1>
							<p>Please provide image of your product.</p>
						</ion-label>
					</ion-col>
				</ion-row>
				<ion-row class="form">
					<ion-col size-sm="6" offset-sm="3">
						<form [formGroup]="form">
							<ion-grid no-padding>
								<ion-row>
									<ion-col>
										<app-image-picker
											margin
											(imagePick)="onImagePicked($event)"
										></app-image-picker>
									</ion-col>
								</ion-row>
							</ion-grid>
						</form>
					</ion-col>
				</ion-row>
				<ion-row class="btns">
					<ion-col size-sm="6" offset-sm="3">
						<div text-right>
							<ion-button (click)="prevStep()" color="medium">prev</ion-button>
							<ion-button [disabled]="!form.valid" (click)="onCreateOffer()"
								>create offer</ion-button
							>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
	</ion-slides>
</ion-content>
