<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="/products/tabs/discover"
			></ion-back-button>
		</ion-buttons>
		<ion-title>{{ product.title }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding>
	<ion-grid no-padding>
		<ion-row>
			<ion-col no-padding>
				<ion-card>
					<ion-img
						[src]="product.imageUrl"
						style="width:100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;"
					></ion-img>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p text-center>{{ product.description }}</p>
				<p text-center>Price : {{ product.price | currency: "INR" }}</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer *ngIf="isBookable" no-border no-margin>
	<ion-toolbar no-paddding no-margin>
		<ion-button
			type="button"
			(click)="onBookPlace(product.category)"
			expand="block"
			>Book</ion-button
		>
	</ion-toolbar>
</ion-footer>
