<ion-header>
	<ion-toolbar>
		<ion-title>{{ product.title }}</ion-title>
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="/products/tabs/requests"
			></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid no-padding>
		<ion-row no-padding>
			<ion-col size="12" size-sm="8" offset-sm="2">
				<ion-card>
					<ion-card-header>
						<ion-card-title>Baburao Ganpatrao Apte</ion-card-title>
						<ion-card-subtitle>@RakhTeriMaaKii</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<p><b>Requested For :</b><br />Devi Prasad</p>
						<p padding-top>
							<b>Mobile Number :</b><br />
							98XXXXXX10
						</p>
						<div padding-top text-right>
							<ion-button
								color="primary"
								fill="clear"
								size="small"
								>Accept</ion-button
							>
							<ion-button
								color="danger"
								fill="outline"
								size="small"
								>Decline</ion-button
							>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row no-padding>
			<ion-col size="12" size-sm="8" offset-sm="2">
				<ion-card>
					<ion-card-header>
						<ion-card-title>Baburao Ganpatrao Apte</ion-card-title>
						<ion-card-subtitle>@RakhTeriMaaKii</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<p><b>Requested For :</b><br />Devi Prasad</p>
						<p padding-top>
							<b>Mobile Number :</b><br />
							98XXXXXX10
						</p>
						<div padding-top text-right>
							<ion-button
								color="primary"
								fill="clear"
								size="small"
								>Accept</ion-button
							>
							<ion-button
								color="danger"
								fill="outline"
								size="small"
								>Decline</ion-button
							>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row no-padding>
			<ion-col size="12" size-sm="8" offset-sm="2">
				<ion-card>
					<ion-card-header>
						<ion-card-title>Baburao Ganpatrao Apte</ion-card-title>
						<ion-card-subtitle>@RakhTeriMaaKii</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<p><b>Requested For :</b><br />Devi Prasad</p>
						<p padding-top>
							<b>Mobile Number :</b><br />
							98XXXXXX10
						</p>
						<div padding-top text-right>
							<ion-button
								color="primary"
								fill="clear"
								size="small"
								>Accept</ion-button
							>
							<ion-button
								color="danger"
								fill="outline"
								size="small"
								>Decline</ion-button
							>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row no-padding>
			<ion-col size="12" size-sm="8" offset-sm="2">
				<ion-card>
					<ion-card-header>
						<ion-card-title>Baburao Ganpatrao Apte</ion-card-title>
						<ion-card-subtitle>@RakhTeriMaaKii</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<p><b>Requested For :</b><br />Devi Prasad</p>
						<p padding-top>
							<b>Mobile Number :</b><br />
							98XXXXXX10
						</p>
						<div padding-top text-right>
							<ion-button
								color="primary"
								fill="clear"
								size="small"
								>Accept</ion-button
							>
							<ion-button
								color="danger"
								fill="outline"
								size="small"
								>Decline</ion-button
							>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row no-padding>
			<ion-col size="12" size-sm="8" offset-sm="2">
				<ion-card>
					<ion-card-header>
						<ion-card-title>Baburao Ganpatrao Apte</ion-card-title>
						<ion-card-subtitle>@RakhTeriMaaKii</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<p><b>Requested For :</b><br />Devi Prasad</p>
						<p padding-top>
							<b>Mobile Number :</b><br />
							98XXXXXX10
						</p>
						<div padding-top text-right>
							<ion-button
								color="primary"
								fill="clear"
								size="small"
								>Accept</ion-button
							>
							<ion-button
								color="danger"
								fill="outline"
								size="small"
								>Decline</ion-button
							>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
