<ion-content>
	<ion-grid no-padding style="height: 100%;">
		<ion-row align-items-center style="height: 100%;">
			<ion-col no-padding>
				<form [formGroup]="form" class="auth-form-container">
					<ion-grid padding>
						<ion-row>
							<ion-col size-sm="6" offset-sm="3" no-padding>
								<div class="header-style">
									<h2>Signup</h2>
									<div></div>
								</div>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col no-padding>
								<ion-grid no-padding style="padding: 0px 10px;">
									<ion-row>
										<ion-col size-sm="6" offset-sm="3" no-padding>
											<ion-item>
												<ion-label position="floating">Name</ion-label>
												<ion-input
													type="text"
													formControlName="name"
												></ion-input>
											</ion-item>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col size-sm="6" offset-sm="3" no-padding>
											<ion-item>
												<ion-label position="floating">User Name</ion-label>
												<ion-input
													type="text"
													formControlName="userName"
												></ion-input>
											</ion-item>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col size-sm="6" offset-sm="3" no-padding>
											<ion-item>
												<ion-label position="floating">Mobile Number</ion-label>
												<ion-input
													type="tel"
													formControlName="mobileNumber"
												></ion-input>
											</ion-item>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col size-sm="6" offset-sm="3" no-padding>
											<ion-item>
												<ion-label position="floating">E-mail</ion-label>
												<ion-input
													type="email"
													autocomplete
													pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
													formControlName="email"
												></ion-input>
											</ion-item>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col size-sm="6" offset-sm="3" no-padding>
											<ion-item>
												<ion-label position="floating">Password</ion-label>
												<ion-input
													type="password"
													pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
													formControlName="password"
												></ion-input>
											</ion-item>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col
								size-sm="6"
								offset-sm="3"
								no-padding
								style="padding-top: 32px;"
							>
								<ion-button
									expand="block"
									type="submit"
									[disabled]="!form.valid"
									(click)="onSubmit()"
									>sign up</ion-button
								>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size-sm="6" offset-sm="3">
								<div padding-vertical text-center>
									<ion-label
										><h5>
											Already a user?
											<span
												(click)="navigateToLogin()"
												style="color: var(--ion-color-primary);"
												>Login</span
											>
										</h5>
									</ion-label>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
