<ion-app>
	<ion-menu side="start">
		<ion-header>
			<ion-toolbar style="height :20vh">
				<ion-avatar
					style="margin:10px 0px 0px 20px; height:60px; width:60px;"
					class="avatar"
				>
					<img src="../../assets/default/default-profile.png" />
				</ion-avatar>

				<ion-title>
					<h5 no-margin style="padding-top: 10px;">
						Baburao Ganpatrao Apte
					</h5>
					<h6
						no-margin
						style="padding-top: 6px;color: rgba(255, 255, 255, 0.6)"
					>
						@rakhTeriMaaaKiiiiiRakh
					</h6>
				</ion-title>
			</ion-toolbar>
		</ion-header>

		<ion-content>
			<ion-list>
				<ion-menu-toggle>
					<ion-item lines="none" routerLink="/myprofile">
						<ion-icon name="person" slot="start"></ion-icon>
						<ion-label>My Profile</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item lines="none" routerLink="/products/tabs/discover">
						<ion-icon name="search" slot="start"></ion-icon>
						<ion-label>Discover Assets</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item lines="none" routerLink="/bookings">
						<ion-icon
							name="checkbox-outline"
							slot="start"
						></ion-icon>
						<ion-label>Your Bookings</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item lines="none" (click)="onLogout()" button>
						<ion-icon name="exit" slot="start"></ion-icon>
						<ion-label>Logout</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-router-outlet main></ion-router-outlet>
</ion-app>
