<div *ngIf="isLoading" text-center>
	<ion-spinner color="primary"></ion-spinner>
</div>

<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>My Profile</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
	<form [formGroup]="form">
		<ion-grid>
			<ion-row align-items-center style="height: 25vh;" padding-horizontal>
				<ion-col size-sm="6" offset-sm="3">
					<ion-avatar class="avatars">
						<div (click)="onEditImg($event)">
							<ion-icon name="camera" slot="icon-only"></ion-icon>
						</div>
						<img
							src="misplaced.png"
							onerror="this.src='../../assets/default/default-profile.png'"
						/>
					</ion-avatar>
				</ion-col>
			</ion-row>
			<ion-row align-items-center padding-horizontal>
				<ion-col size-sm="6" offset-sm="3">
					<ion-item>
						<ion-label position="floating">Name</ion-label>
						<ion-input
							type="text"
							autocomplete
							formControlName="name"
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row align-items-center padding-horizontal>
				<ion-col size-sm="6" offset-sm="3">
					<ion-item>
						<ion-label position="floating">User Name</ion-label>
						<ion-input
							type="text"
							autocomplete
							formControlName="userName"
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row align-items-center padding-horizontal>
				<ion-col size-sm="6" offset-sm="3">
					<ion-item>
						<ion-label position="floating">Mobile Number</ion-label>
						<ion-input
							type="tel"
							autocomplete
							formControlName="mobileNumber"
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row align-items-center padding-horizontal>
				<ion-col style="padding-top: 32px;">
					<ion-button
						expand="block"
						(click)="onUpdateProfile()"
						[disabled]="!form?.valid"
						>Save</ion-button
					>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
