<ion-header>
	<ion-toolbar>
		<ion-title>{{ selectedPlace.title }}</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="onCancel()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content text-center padding-top>
	<form (ngSubmit)="onBookPlace(f)" #f="ngForm">
		<ion-grid padding>
			<ion-row>
				<ion-col size-sm="6" offset-sm="3">
					<ion-item>
						<ion-label position="floating">First Name</ion-label>
						<ion-input
							type="text"
							ngModel
							name="firstName"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size-sm="6" offset-sm="3">
					<ion-item>
						<ion-label position="floating">Last Name</ion-label>
						<ion-input
							type="text"
							ngModel
							name="lastName"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size-sm="6" offset-sm="3">
					<ion-item>
						<ion-label position="floating">Mobile Number</ion-label>
						<ion-input
							type="number"
							ngModel
							name="mobileNumber"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col padding size-sm="6" offset-sm="3">
					<ion-list>
						<ion-radio-group
							allow-empty-selection="false"
							(ionSelect)="getGender($event)"
						>
							<ion-list-header>
								<ion-label>Gender</ion-label>
							</ion-list-header>

							<ion-item>
								<ion-label>Male</ion-label>
								<ion-radio value="male"></ion-radio>
							</ion-item>

							<ion-item>
								<ion-label>Female</ion-label>
								<ion-radio value="female"></ion-radio>
							</ion-item>

							<ion-item>
								<ion-label>Others</ion-label>
								<ion-radio value="others"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-button type="submit" padding expand="block"
			>Send Request</ion-button
		>
	</form>
</ion-content>
