<div *ngIf="isLoading" text-center>
	<ion-spinner color="primary"></ion-spinner>
</div>

<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Requests</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding *ngIf="!isLoading">
	<ion-grid no-padding>
		<ion-row>
			<ion-col
				size-md="6"
				offset-md="3"
				*ngIf="!requestedProducts || requestedProducts.length <= 0"
				text-center
				padding
				style="color: #0000008c;"
			>
				You dont have any current Requests Yet !</ion-col
			>
			<ion-col
				no-padding
				size="12"
				size-sm="8"
				offset-sm="2"
				*ngIf="requestedProducts.length > 0"
			>
				<ion-list>
					<ion-item
						*ngFor="let requestedProduct of requestedProducts"
						(click)="onNavigate(requestedProduct)"
					>
						<ion-thumbnail slot="start">
							<div class="notification-badge"><div></div></div>
							<img
								[src]="requestedProduct.imageUrl"
								onerror="this.src='../../../assets/default/default-product.jpg';"
							/>
						</ion-thumbnail>
						<ion-label>
							<h3>{{ requestedProduct.title }}</h3>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
