<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Requests</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding>
	<ion-grid no-padding>
		<ion-row>
			<ion-col no-padding size="12" size-sm="8" offset-sm="2">
				<ion-list>
					<ion-item
						*ngFor="let request of requests"
						[routerLink]="['/', 'products', 'tabs', 'requests', request.id]"
					>
						<ion-thumbnail slot="start">
							<div></div>
							<ion-img [src]="request.imageUrl"></ion-img>
						</ion-thumbnail>
						<ion-label>
							<h3>{{ request.title }}</h3>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
